/* Corporate Theme Critical CSS */
:root {
    --primary: #4f46e5;
}
body {
    margin: 0;
    padding: 0;
}
header {
    min-height: 64px;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZ9hjp-Ek-_EeA.woff)
        format("woff");
}
