/* Creative Theme Critical CSS */
:root {
    --creative: #ff2d20;
}
body {
    background: #fff;
    color: #18181b;
}
.dark body {
    background: #09090b;
    color: #f4f4f5;
}
nav {
    padding: 2rem 0;
}
font-face {
    font-family: "Outfit";
    font-display: swap;
}
